Checks:  >
  *,
  -llvmlibc-*,
  -fuchsia-*,
  -modernize-use-trailing-return-type,
  -google-build-using-namespace,
  -altera-struct-pack-align,
  -altera-id-dependent-backward-branch,
  -altera-unroll-loops
CheckOptions:
    - key: misc-non-private-member-variables-in-classes.IgnorePublicMemberVariables
      value: 1
    - key: cppcoreguidelines-non-private-member-variables-in-classes.IgnorePublicMemberVariables
      value: 1
